<link rel="stylesheet" href="styles.css">
{{#partial "content"}}
    <h1>Hero Time!</h1>
    <p>Engulf yourself with the heroes we have here!</p>
    <!-- Card group -->
    <div class="card-group">

        <!-- Card -->
        <div class="card mb-4  mr-4">

            <!-- Card image -->
            <div class="view overlay">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><strong>Batman</strong></h4>
                <!-- Text -->
                <p class="card-text"><strong>Age:</strong>21</p>
                <p class="card-text"><strong>Strength:</strong>Flying</p>
                <p class="card-text"><strong>Weakness:</strong>Angry</p>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 mr-4">

            <!-- Card image -->
            <div class="view overlay">

                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><strong>Batman</strong></h4>
                <!-- Text -->
                <p class="card-text"><strong>Age:</strong>21</p>
                <p class="card-text"><strong>Strength:</strong>Flying</p>
                <p class="card-text"><strong>Weakness:</strong>Angry</p>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 mr-4">

            <!-- Card image -->
            <div class="view overlay">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><strong>Batman</strong></h4>
                <!-- Text -->
                <p class="card-text"><strong>Age:</strong>21</p>
                <p class="card-text"><strong>Strength:</strong>Flying</p>
                <p class="card-text"><strong>Weakness:</strong>Angry</p>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

    </div>
    <!-- Card group -->
{{/partial}}

{{>layout.hbs}}