{{#partial "content"}}
<form action="/squad-card">
<div class="md-form w-50">
    <input id="input-char-counter" name="squadName" type="text" length="5" class="form-control">
    <label for="input-char-counter">Name</label>
</div>
<div class="md-form w-50">
    <input id="input-char-counter" name="squadMaxSize" type="text" length="5" class="form-control">
    <label for="input-char-counter">Group size</label>
</div>
<div class="md-form w-50">
    <input id="input-char-counter" name="squadCourse" type="text" length="5" class="form-control">
    <label for="input-char-counter">Course</label>
</div>
        <button type="submit" class="btn btn-secondary" >Go!</button>
    </form>
    {{/partial}}

{{> layout.hbs}}